* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
#root {
  width: 100%;
  min-height: 100vh;
  background: black;
}
